.header {
    margin-bottom: 3rem;

    &__content {
        
        padding-left: 4rem;

        &__title {
            color: white;
            font-size: 2.4rem;
            font-weight: 600;
            padding-bottom: 0.4rem;
            border-bottom: 3px solid white;
            width: 60%;
            padding-right: 30px;
            box-sizing: content-box;
        }

    }
}